<!DOCTYPE HTML>
<html ng-app="AgidoMockups">
<head>
    <style>
        .stage canvas {
            border: 1px solid #555 !important;
        }
    </style>
</head>
<body ng-controller="EditorCtrl">
<div class="palette">
    <button ng-click="addToStage('Link')">Link</button>
    <button ng-click="addToStage('RadioItem')">Radio item</button>
    <button ng-click="addToStage('RadioGroup')">Radio group</button>
</div>

<stage width="500" height="300" stage="stage" save-source="saveSource(source)" stage-clicked="stageClicked(source)"
       mockup-component-selected="mockupComponentSelected(component)" selected-component="selectedComponent"
       is-mockup-component=isMockupComponent(component)></stage>

<button class="btn" ng-click="downloadImage()">Download image</button>

<h1>Stage source</h1>

<div>{{ stage.toJSON() }}</div>

<script src="../vendor/kineticjs/kinetic-v4.7.1.js"></script>
<script src="../dist/agido-mockups-dev.kintetic.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../dist/agido-mockups-dev.angular.js"></script>
</body>
</html>
