<!DOCTYPE HTML>
<html ng-app="AgidoMockups">
<head>
    <link href='http://fonts.googleapis.com/css?family=Prosto+One|Cherry+Swash:400,700|Bigelow+Rules|Stint+Ultra+Expanded&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <style>
        .stage canvas {
            border: 1px solid #555 !important;
        }

        .input-xs {
            width: 40px;
        }
    </style>
</head>
<body ng-controller="EditorCtrl">
<div class="palette">
    <div class="btn-group">
        <button class="btn btn-default" ng-click="addToStage('Label')">Label</button>
        <button class="btn btn-default" ng-click="addToStage('Title')">Title</button>
        <button class="btn btn-default" ng-click="addToStage('Subtitle')">Subtitle</button>
        <button class="btn btn-default" ng-click="addToStage('Link')">Link</button>
        <button class="btn btn-default" ng-click="addToStage('Checkbox')">Checkbox</button>
        <button class="btn btn-default" ng-click="addToStage('CheckboxGroup')">Checkbox group</button>
        <button class="btn btn-default" ng-click="addToStage('Panel')">Panel</button>
        <button class="btn btn-default" ng-click="addToStage('Paragraph')">Paragraph</button>
        <button class="btn btn-default" ng-click="addToStage('RadioItem')">Radio item</button>
        <button class="btn btn-default" ng-click="addToStage('RadioGroup')">Radio group</button>
        <button class="btn btn-default" ng-click="addToStage('Input')">Input</button>
        <button class="btn btn-default" ng-click="addToStage('Datepicker')">Datepicker</button>
        <button class="btn btn-default" ng-click="addToStage('Button')">Button</button>
        <button class="btn btn-default" ng-click="addToStage('Select')">Select</button>
        <button class="btn btn-default" ng-click="addToStage('Window')">Window</button>
        <button class="btn btn-default" ng-click="addToStage('ImageItem')">Image</button>
    </div>
</div>
<span>
   <button class="btn btn-default btn-xs" ng-click="undo()"><span class="glyphicon glyphicon-arrow-left" tooltip="Undo"></span></button>
   <button class="btn btn-default btn-xs" ng-click="redo()"><span class="glyphicon glyphicon-arrow-right" tooltip="Redo"></span></button>
   <button class="btn btn-default btn-xs" ng-click="duplicate()" ng-disabled="null==selectedComponent">
       <span class="glyphicon glyphicon-floppy-save" tooltip="Duplicate"></span>
   </button>
   <button class="btn btn-default btn-xs" ng-click="cut()" ng-disabled="null==selectedComponent">
       <span class="glyphicon glyphicon-cutlery" tooltip="Cut"></span>
   </button>
   <button class="btn btn-default btn-xs" ng-click="paste()" ng-disabled="isClipboardEmpty()">
       <span class="glyphicon glyphicon-floppy-save" tooltip="Paste"></span>
   </button>
   <button class="btn btn-default btn-xs" ng-click="delete()" ng-disabled="null==selectedComponent">
       <span class="glyphicon glyphicon-trash" tooltip="Delete"></span>
   </button>
   <button class="btn btn-default btn-xs" ng-click="lock()" ng-disabled="null==selectedComponent">
       <span class="glyphicon glyphicon-lock" tooltip="Lock"></span>
   </button>
</span>

<stage width="700" height="500" stage="stage" save-source="saveSource(source)" stage-clicked="stageClicked(source)"
       mockup-component-selected="mockupComponentSelected(component)" selected-component="selectedComponent" is-mockup-component="isMockupComponent(component)"
       editing-source="editingSource"></stage>

<form ng-show="selectedComponent" class="panel panel-default">
    <div class="panel-heading">{{ getComponentType(selectedComponent) }}</div>
    <div>
        <span class="label label-default">Editing</span>
        <span>
            <button class="btn btn-default btn-xs" ng-click="undo()"><span class="glyphicon glyphicon-arrow-left" tooltip="Undo"></span></button>
            <button class="btn btn-default btn-xs" ng-click="redo()"><span class="glyphicon glyphicon-arrow-right" tooltip="Redo"></span></button>
            <button class="btn btn-default btn-xs" ng-click="duplicate()" ng-disabled="null==selectedComponent">
                <span class="glyphicon glyphicon-floppy-save" tooltip="Duplicate"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-click="cut()" ng-disabled="null==selectedComponent">
                <span class="glyphicon glyphicon-cutlery" tooltip="Cut"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-click="paste()" ng-disabled="isClipboardEmpty()">
                <span class="glyphicon glyphicon-floppy-save" tooltip="Paste"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-click="delete()" ng-disabled="null==selectedComponent">
                <span class="glyphicon glyphicon-trash" tooltip="Delete"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-click="lock()" ng-disabled="null==selectedComponent">
                <span class="glyphicon glyphicon-lock" tooltip="Lock"></span>
            </button>
        </span>
    </div>
    <div>
        <span class="label label-default">Layering</span>
        <span>
            <button class="btn btn-default btn-xs" ng-click="moveToTop()"><span class="glyphicon glyphicon-chevron-up" tooltip="Bring to front"></span></button>
            <button class="btn btn-default btn-xs" ng-click="moveUp()"><span class="glyphicon glyphicon-arrow-up" tooltip="Move up"></span></button>
            <button class="btn btn-default btn-xs" ng-click="moveDown()"><span class="glyphicon glyphicon-arrow-down" tooltip="Move down"></span></button>
            <button class="btn btn-default btn-xs" ng-click="moveToBottom()"><span class="glyphicon glyphicon-chevron-down" tooltip="Move to bottom"></span>
            </button>
            <label for="positionX">Pos</label>
            <input id="positionX" class="input-xs" ng-model="selectedComponentProperties.x"/>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input id="positionY" class="input-xs" ng-model="selectedComponentProperties.y"/>
            <label for="width">Size</label>
            <input id="width" class="input-xs" ng-model="selectedComponentProperties.width" readonly/>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input id="height" class="input-xs" ng-model="selectedComponentProperties.height" readonly/>
        </span>
    </div>
    <div ng-repeat="property in getProperties(selectedComponent)" ng-hide="property.hidden">
        <span class="label label-default">{{ property.name }}</span>
        <span>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" ng-model="selectedComponentProperties[property.name]" ng-show="'text'==property.type"/>
            <!--suppress HtmlFormInputWithoutLabel -->
            <select ng-model="selectedComponentProperties[property.name]" ng-show="'enum'==property.type">
                <option ng-repeat="option in property.options" value="{{ option }}" ng-selected="option==selectedComponentProperties[property.name]">
                    {{ option }}
                </option>
            </select>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="checkbox" ng-model="selectedComponentProperties[property.name]" ng-show="'boolean'==property.type"/>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="number" ng-model="selectedComponentProperties[property.name]" ng-show="'number'==property.type" class="input-xs"/>
        </span>
    </div>
</form>

<button class="btn btn-default" ng-click="downloadImage()">Download image</button>

<h1>Stage source</h1>

<div>{{ stage.toJSON() }}</div>

<!--Google fonts need to be preloaded. Otherwise KineticJS cannot render them for the first time.-->
<div ng-repeat="font in availableFonts" ng-init="style={'font-family':font,'font-size':0,'line-height':0}" ng-style="style">{{ font }}</div>
<div ng-repeat="font in availableFonts" ng-init="style={'font-family':font,'font-style':'italic','font-size':0,'line-height':0}" ng-style="style">
    {{ font }}
</div>
<div ng-repeat="font in availableFonts" ng-init="style={'font-family':font,'font-weight':'bold','font-size':0,'line-height':0}" ng-style="style">
    {{ font }}
</div>

<script src="../vendor/kineticjs/kinetic-v4.7.1.js"></script>
<script src="../src/icons/backButton.icon.js"></script>
<script src="../src/icons/nextButton.icon.js"></script>
<script src="../src/icons/home.icon.js"></script>
<script src="../src/icons/search.icon.js"></script>
<script src="../src/icons/datepicker.icon.js"></script>
<script src="../src/icons/calendar.icon.js"></script>
<script src="../src/icons/arrowDown.icon.js"></script>
<script src="../src/icons/arrowRight.icon.js"></script>
<script src="../src/icons/arrowLeft.icon.js"></script>
<script src="../src/components/_util.js"></script>
<script src="../src/components/checkbox.js"></script>
<script src="../src/components/checkboxGroup.js"></script>
<script src="../src/components/link.js"></script>
<script src="../src/components/panel.js"></script>
<script src="../src/components/paragraph.js"></script>
<script src="../src/components/radioGroup.js"></script>
<script src="../src/components/radioItem.js"></script>
<script src="../src/components/input.js"></script>
<script src="../src/components/select.js"></script>
<script src="../src/components/button.js"></script>
<script src="../src/components/window.js"></script>
<script src="../src/components/datepicker.js"></script>
<script src="../src/components/imageItem.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../src/app/_agidoMockups.js"></script>
<script src="../src/app/stage.js"></script>
<script src="../src/app/editorCtrl.js"></script>
<script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
</body>
</html>
